@font-face
  font-family: A_Sensible_Armadillo
  src: url("../font/A_Sensible_Armadillo.ttf")


@font-face
  font-family: AlexandriaFLF
  src: url("../font/AlexandriaFLF.ttf")


@font-face
  font-family: Borders_Divide
  src: url("../font/Borders_Divide.ttf")


@font-face
  font-family: Chocolate
  src: url("../font/Chocolate.ttf")


@font-face
  font-family: In_Secret
  src: url("../font/In_Secret.ttf")


@font-face
  font-family: jeni
  src: url("../font/jeni.ttf")


@font-face
  font-family: PanicStricken
  src: url("../font/PanicStricken.ttf")


@font-face
  font-family: Roman_Antique
  src: url("../font/Roman_Antique.ttf")


@font-face
  font-family: Secrets
  src: url("../font/Secrets.ttf")


@font-face
  font-family: Subway_Black
  src: url("../font/Subway_Black.ttf")


@font-face
  font-family: ThrowMyHandsUpintheAir
  src: url("../font/ThrowMyHandsUpintheAir.ttf")


@font-face
  font-family: Smile
  src: url("../font/Smile.ttf")

body
  font-family: Borders_Divide, jeni, PanicStricken, Roman_Antique, Secrets, AlexandriaFLF, Smile, Subway_Black, In_Secret, Chocolate, A_Sensible_Armadillo !important
  font-size: 40px
  background: rgb(212,228,239) /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(136,162,206,1) 100%) /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(136,162,206,1))) /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(136,162,206,1) 100%) /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(136,162,206,1) 100%) /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(136,162,206,1) 100%) /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%,rgba(136,162,206,1) 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#88a2ce',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */

a
  text-decoration: none
  color: #2E6127

div.step
  width: 1000px
  border: 1px solid #888888
  text-shadow: 3px 3px #C0C0C0
  box-shadow: 5px 5px 100px #888888
  div.head
    font-size: 150%
    text-align: center

@mixin ul_styled
  font-size: 80%
  margin: 0
  list-style:
    position: inside
    type: disc

div#Intro
  div.big img
    width: 100%
  div.long
    display: none
    letter-spacing: 30px
  > ul
    margin: 0
    li:first-child
      display: block
    li
      font-size: 80%
      text-align: center
      list-style-type: none

div#WebGL
  ul
    @include ul_styled

div#Web3D
  ul
    @include ul_styled

div#Demonstration
  div.body
    text-align: center
    > div
      display: inline-block
      img
        width: 250px
        display: block
      > div
        text-align: center

div#Support
  img
    width: 100%

div#Bored
  div.body
    text-align: center
    img
      width: 80%

div#Earth
  div.body
    iframe
      overflow: hidden

div#Teapot
  div.body
    iframe
      overflow: hidden

div#Sample
  iframe
    margin: auto

div#Code
  div.body
    div
      text-align: center
    pre
      overflow-x: hidden
      height: 550px
      font-size: 50%
      border: 1px black solid
      code
        background: inherit

div#Panic
  div.body
    text-align: center
    img
      width: 70%
    div
      font-size: 80%

div#CubeCode
  div.body
    pre
      overflow-x: hidden
      height: 600px
      font-size: 50%
      border: 1px black solid


div#fixtop, div#fixleft
  position: fixed
  font-size: 40%
  width: 98%

div#fixtop
  float: left

div#fixleft
  bottom: 5%

div.progress
  font-size: 40%
