@font-face {
  font-family: A_Sensible_Armadillo;
  src: url("../font/A_Sensible_Armadillo.ttf"); }

@font-face {
  font-family: AlexandriaFLF;
  src: url("../font/AlexandriaFLF.ttf"); }

@font-face {
  font-family: Borders_Divide;
  src: url("../font/Borders_Divide.ttf"); }

@font-face {
  font-family: chocolate;
  src: url("../font/Chocolate.ttf"); }

@font-face {
  font-family: In_Secret;
  src: url("../font/In_Secret.ttf"); }

@font-face {
  font-family: jeni;
  src: url("../font/jeni.ttf"); }

@font-face {
  font-family: PanicStricken;
  src: url("../font/PanicStricken.ttf"); }

@font-face {
  font-family: Roman_Antique;
  src: url("../font/Roman_Antique.ttf"); }

@font-face {
  font-family: Secrets;
  src: url("../font/Secrets.ttf"); }

@font-face {
  font-family: Subway_Black;
  src: url("../font/Subway_Black.ttf"); }

@font-face {
  font-family: ThrowMyHandsUpintheAir;
  src: url("../font/ThrowMyHandsUpintheAir.ttf"); }

@font-face {
  font-family: Smile;
  src: url("../font/Smile.ttf"); }

body {
  font-family: Borders_Divide, jeni, PanicStricken, Roman_Antique, Secrets, AlexandriaFLF, Smile, Subway_Black, In_Secret, chocolate, A_Sensible_Armadillo !important;
  font-size: 40px;
  background: #d4e4ef;
  background: -moz-radial-gradient(center, ellipse cover, #d4e4ef 0%, #88a2ce 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d4e4ef), color-stop(100%, #88a2ce));
  background: -webkit-radial-gradient(center, ellipse cover, #d4e4ef 0%, #88a2ce 100%);
  background: -o-radial-gradient(center, ellipse cover, #d4e4ef 0%, #88a2ce 100%);
  background: -ms-radial-gradient(center, ellipse cover, #d4e4ef 0%, #88a2ce 100%);
  background: radial-gradient(ellipse at center, #d4e4ef 0%, #88a2ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#88a2ce',GradientType=1 ); }

a {
  text-decoration: none;
  color: #2e6127; }

div.step {
  width: 1000px;
  border: 1px solid #888888;
  text-shadow: 3px 3px silver;
  box-shadow: 5px 5px 100px #888888; }
  div.step div.head {
    font-size: 150%;
    text-align: center; }

div#Intro div.big img {
  width: 100%; }
div#Intro div.long {
  display: none;
  letter-spacing: 30px; }
div#Intro > ul {
  margin: 0; }
  div#Intro > ul li:first-child {
    display: block; }
  div#Intro > ul li {
    font-size: 80%;
    text-align: center;
    list-style-type: none; }

div#WebGL ul {
  font-size: 80%;
  margin: 0;
  list-style-position: inside;
  list-style-type: disc; }

div#Web3D ul {
  font-size: 80%;
  margin: 0;
  list-style-position: inside;
  list-style-type: disc; }

div#Demonstration div.body {
  text-align: center; }
  div#Demonstration div.body > div {
    display: inline-block; }
    div#Demonstration div.body > div img {
      width: 250px;
      display: block; }
    div#Demonstration div.body > div > div {
      text-align: center; }

div#Support img {
  width: 100%; }

div#Bored div.body {
  text-align: center; }
  div#Bored div.body img {
    width: 80%; }

div#Earth div.body iframe {
  overflow: hidden; }

div#Teapot div.body iframe {
  overflow: hidden; }

div#Sample iframe {
  margin: auto; }

div#Code div.body div {
  text-align: center; }
div#Code div.body pre {
  overflow-x: hidden;
  height: 550px;
  font-size: 50%;
  border: 1px black solid; }
  div#Code div.body pre code {
    background: inherit; }

div#Panic div.body {
  text-align: center; }
  div#Panic div.body img {
    width: 70%; }
  div#Panic div.body div {
    font-size: 80%; }

div#CubeCode div.body pre {
  overflow-x: hidden;
  height: 600px;
  font-size: 50%;
  border: 1px black solid; }

div#fixtop, div#fixleft {
  position: fixed;
  font-size: 40%;
  width: 98%; }

div#fixtop {
  float: left; }

div#fixleft {
  bottom: 5%; }

div.progress {
  font-size: 40%; }
